#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}




    <nav class="ui menu">
    <a class="ui item" href="/">Home</a>
    <a class="ui item" href="/signup">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>
    <a class="ui active item" href="/donation">Make Donation</a>
    <a class="ui item" href="/donation/report">Report</a>
    <a class="ui item" href="/profile">Profile</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<section class="ui segment">
  <h3>Welcome ${user.firstName}</h3>
  Please give generously
  <form class="ui form" action="/donation/donate" method="POST">
    <div class="ui four column grid">
      <div class="column">
        <div class="ui selection dropdown">
          <input name="amountDonated" type="hidden">
          <div class="default text">Amount</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="100">$100</div>
            <div class="item" data-value="500">$500</div>
            <div class="item" data-value="1000">$1000</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="grouped inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input id="paypal" name="methodDonated" value="paypal" checked="checked" type="radio"> 
              <label for="paypal">PayPal</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="direct" name="methodDonated" value="direct" type="radio"> 
              <label for="direct">Direct</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="ui blue submit button">Donate <i class="add icon"></i></button>
    <div class="ui error message"></div>
  </form>
  <div class="ui segment">
    <h4 class="ui header">Amount target achieved</h4>
    <div class="ui green successful progress" id="progressBar">
      <div class="bar" style="width:${progress}"></div>
    </div>
  </div>
 
</section>  

