 #{extends 'main.html' /} #{set title:'Report of Donations' /}



<h4>List Donations</h4>

<table class="ui table segment">
	<thead>
		<tr>
			<th>Donors</th>
			<th>Amount($)</th>
			<th>Method donated</th>
			<th>Date donated</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		#{list items:donations, as:'donation'}

		</tr>
		<td>${donation.from.firstName}&nbsp${donation.from.lastName}</td>
		<td>${donation.received}</td>
		<td>${donation.methodDonated}</td>
		<td>${donation.dateDonated}</td>
		
		#{/list}
	</tbody>
</table>
